<div class="artists-page">
  <div class="artist-names">
    {{#each artists}}
      <a class="artist-name" href="/artist/{{href}}">{{name}}</a>
    {{/each}}
  </div>
  <div class="artist-photos">
    {{#each artists}}
      <img class="artist-photo {{#if active}}active{{/if}}" src="{{src_prefix}}{{photo}}_m.jpg"></img>
    {{/each}}
  </div>
</div>
