<div class="contacts-page">
  <div class="officers">
    {{#each officers}}
    <div class="officer-position">
      <div>{{position}}</div>
      {{#each info}}
      <div class="officer-info">
        <span>{{name}}</span>
        <a href="mailto:{{email}}" class="officer-email">{{email}}</a>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
  </div>