<!--
NOTE: There is actually a <div class="individual-page"> around this page
which you can use in the CSS

Also, in Komodo, at the bottom right, you can set 'Text' to 'HTML5'
and it will highlight this page for you.
!-->

<div class="name">{{name}}</div>
<div class="bio">{{bio}}</div>
<div class="image-area">
  <div class="thumbnails">
    {{#each images}} 
    <img class="thumbnail" src="{{src_prefix}}{{src}}_s.jpg"></img>
  {{/each}}  
  </div>
  <div class="images">
    {{#each images}}
    <div class="image {{#if active}}active{{/if}}">
      <div class="title">{{title}}</div>
      <img src="{{src_prefix}}{{src}}_m.jpg"></img>
      <!--<div class="caption">{{caption}}</div>-->
    </div>
    {{/each}}
  </div>
</div>