<div class="test">{{text}}</div>
<div class="loading">{{loading}}</div>
<iframe id="map" width="680" height="560" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211050225043110450746.0004c983cebbcc8792f2a&amp;ie=UTF8&amp;ll=34.075593,-118.452278&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe>
