// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib';

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  box-sizing: border-box
}

font-color = #282828;
font-subtitle-color = #5b8899;
a-hover-color = #a6a6a6;
a-active-color = #c7c7c7;
bg-color = #f7f7f7;

body {
  background: #f7f7f7;
  color: font-color;
  text-align: center;
  text-shadow: -1px 1px rgba(131, 131, 131, 0.5);
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  
  &:hover {
    color: a-hover-color;
    text-shadow: 0px 0px 3px white;
  }
  
  &:active {
    color: a-active-color;
  }
}

#featured {
  border: 1px solid #bfbfbf;
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(167, 167, 167, 0.5);
}

img, iframe {
  border: 1px solid #bfbfbf;
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(167, 167, 167, 0.5),
              0px 0px 20px white inset;
}

header {
  padding-bottom: 25px;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px 1px white;
  background: linear-gradient(top, #f9f9f9, #f7f7f7);
  
  a {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    color: font-color;
    text-transform: uppercase;
    text-decoration: none;
    
    //border: 1px solid rgb(224, 224, 224);
    //box-shadow: 0px 0px 3px white inset, 0px 0px 3px rgba(173, 173, 173, 0.2);
  }
}

#header-container {
  //margin: 0px;
  margin-bottom: 30px;
  
  h1 {
    cursor: pointer;
    margin: 0px;
    padding: 20px;
    //padding-bottom: 30px;
  }
}

.home-page {
  img {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
}

.artists-page {

  width: 900px;
  margin: 0 auto;
  //margin-top: 40px;
  
  .artist-names {
    width: 180px;
    display: inline-block;
    vertical-align: top;
    //float: left;
    
    .artist-name {

      color: font-color;

      &:hover {
        color: a-hover-color;
        text-shadow: 0px 0px 3px white;
      }
      
      &:active {
        color: a-active-color;
      }

      //color: font-color;
      //color: rgb(44, 44, 44);
      height: 40px;
      //background: linear-gradient(top, #595959, #444444);
      //box-shadow:
      //  0px 1px rgba(255,255,255,0.2) inset,
      //  0px 4px rgb(48, 48, 48);
      border-radius: 5px;
      margin-bottom: 8px;
      line-height: 40px;
      display: block;
    }
  }
  
  .artist-photos {
    //float: right;
    display: inline-block;
    width: 700px;
    
    img {
      display: none;
      max-height: 500px;
      max-width: 680px;
      &.active {
        display: inline;
      }
    }
  }
}

.contacts-page {
  text-align: center;
  //margin-top: 20px;
  .officer-position {
   font-size: 23px;
   margin-top: 15px;
  }
  .officer-email {
    color: font-subtitle-color;
    &:hover {
      color: #a5cdde;
    }
  }
  .officer-info {
    font-size: 16px;
  }
}

.about-page {
  .info {
    display: inline-block;
    line-height: 22px;
    width: 700px;
    margin-bottom: 10px;
    text-align: justify;
  }
  img {
    max-height: 700px;
    max-width: 880px;
    margin-top: 20px; 
  }
}

.individual-page {
  margin-top: 15px;
  .image-area {
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    width: 1040px;
    .thumbnails {
      border-right: 1px solid lightgray;
      max-height: 700px;
      overflow-y: auto;
      float: left;
      //display: inline-block;
      width: 220px;
      padding-right: 20px
      text-align: center;
      .thumbnail {
        display: inline-block;
        max-width: 180px;
        max-height: 180px;
        
        &:hover {
          background: white;
        }
      }
    }
    .images {
      display: inline-block;
      .image {
        display: inline-block;
        display: none;
        
        &.active {
          display: inherit;
        }
        
        .title {
          margin-bottom: 10px;
        }
        
        img {
          max-height: 700px;
          max-width: 720px;
        }
      }
    }
  }
  .name {
    color: font-subtitle-color;
    font-size: 23px;
  }
  .bio {
    display: inline-block;
    line-height: 22px;
    width: 700px;
    margin: 25px;
    text-align: justify;
  }
}

.location-page {
  .loading {
    &.hide {
      visibility: hidden;
    }
  }
}

